.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer{
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: #282c34;
  text-align: center;
  color: rgb(255, 255, 255);
}

.search {
  padding: 10px;
  font-size:20px;
}

.list {
  padding:0;
  list-style:none;
  text-align: center;
}

.listItem{
  margin-bottom:20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}